@model dotnetapp.Models.Department
<h2>Add Department</h2>
<br>
@using(Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            @Html.DisplayNameFor(m=>m.Name)
            @Html.EditorFor(m=>m.Name)
        </div>
        <br>
    </div>
    <br>
    <br>
    <input type="submit" value="Create" class="btn btn-primary" />

}